p,input,ul,h1,h2,h3,h4,h5,h6,body,a{
	margin:0;padding:0;
	list-style:none;
	text-decoration:none;
}
body{
	font-size:12px;
	font-family:"微软雅黑";
}
header{
	width:100%;height:156px;
}
.header{
	width:100%;height:25px;
	background:#f6f6f6;
}
header .box-top{
	width:1200px;height:25px;
	margin:0 auto;
}
.box-top .wzl a{
	display:block;
	width:65px;height:25px;
	border-right:1px solid #f0f0f0;
	color:#888888;
	font-size:12px;
	line-height:25px;
	margin:0 auto;
	text-decoration:none;
	float:left;
	text-align:center;
}
.box-top .wzl a:hover{
	color:#25b2fe;
}
.box-top .wzr{
	width:386px;height:25px;
	float:right;
}
.dl a{
	display:block;
	color:#888;
	float:left;
	text-decoration:none;
}
header ul li a:hover{
	color:#25b2fe;
}
.dlwz:hover{
	color:#25b2fe;
}
header ul li a img{
	display:block;
	margin-top:6px;
	margin-right:3px;
	float:left;
}
.sj a img:hover{
	background:url(../images/shopclass01.gif);
}
.wzr .dl{
	float:left;
	line-height:25px;
}
.box-m{
	width:1200px;height:58px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:20px;
}
.logo{
	width:230px;height:42px;
	background:url(../images/logo.png);
	float:left;
	margin-right:20px;
}
.box-m .xak{
	width:45px;height:16px;
	margin-top:10px;
	margin-left:;
	float:left;
}
.search-box{
	width:624px;height:60px;
	float:right;
}
.search{
	width:624px;height:36px;
}
.ss1{
	width:489px;height:32px;
	border:2px solid #dfdfdf;
	border-right:none;
	float:left;
	margin-top:1px;
}
.ss{
	width:85px;height:37px;
	/*background:#25b2fe;*/
	background:url(../images/search.png) -1225px -40px;
	border-radius:3px;
	float:right;
	margin-right:48px;
	z-index:2;
	cursor:pointer;

}
.search-bottom{
	width:353px;height:23px;
	margin-top:10px;
}
.search-bottom a{
	color:#666666;
	text-decoration:none;
	margin-right:16px;
	float:left;
}
.search-bottom a:hover{
	color:#31adfc;
	text-decoration:underline;
}
.search-bottom a div:hover{
	color:#31adfc;
}
/*.ss .tp{
	background:url(../images/search.png);
	background:#fff;
	float:left;
}
.ss .sshz{
	color:#fff;

}
*/
.nav{
	width:1200px;height:38px;
	margin:0 auto;
}
.shouye{
	width:159px;height:39px;
	background:#e4e4e4;
	border-top:1px solid #0085d0;
	margin-right:1px;
	float:left;
	color:#0085d0;
	font-weight:bold;
	font-size:16px;
	line-height:39px;
	text-align:center;
}
.shouye:hover{
	background:#f6f6f6;
}
.daohang{
	width:259px;height:40px;
	background:#e4e4e4;
	margin-right:1px;
	float:left;
	font-size:16px;
	line-height:39px;
	text-align:center;
	color:#666677;
}
.daohang:hover{
	background:#f6f6f6;
	color:#0085d0;
}
/*内容 开始*/
.BOX{
	width:1200px;height:346px;
	margin:0 auto;
	margin-top:5px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
}
.box-one{
	width:158px;height:348px;
	border:1px solid #b8d9e9;
	float:left;
	margin-right:10px;
}
.box-one .zd div{
	width:139px;height:32px;
	border-bottom:1px solid #e2e2e2;
	margin-left:10px;
}
.box-one .zd div{
	line-height:32px;
	text-align:center;
}
.box-one ul li a{
	color:#333333;
	text-decoration:none;
}
.box-one ul li a:hover{
	color:#29a7fe;
}
.box-one .sdh{
	width:139px;height:62px;
	border-bottom:1px solid #e2e2e2;
	margin-left:10px;
}
.box-one .sdh img{
	margin-top:20px;
	margin-left:30px;
	float:left;
}
.box-one .sdh a div{
	font-size:14px;
	color:#333;
	line-height:62px;
	text-align:center;
	float:left;
}
.box-one .sdh a div:hover{
	color:#29a7fe;
}
.box-two a{
	display:block;
	width:740px;height:350px;
	background:url(../images/banner.jpg);
	float:left;
	position:relative;
}
.bjt-left{
	display:block;
	width:30px;height:68px;
	margin-left:0;
	margin-top:141px;
	background:url(../images/jtd.png) 0 -1px;
	opacity:0.3;
	float:left;
}
.bjt-left:hover{
	opacity:0.7;
}
.bjt-right{
	display:block;
	width:30px;height:68px;
	margin-top:141px;
	background:url(../images/jtd.png) -40px -1px;
	opacity:0.3;
	float:right;
}
.bjt-right:hover{
	opacity:0.7;
}
.circle-k{
 	width:163px;height:15px;
 	position:absolute;
 	bottom:7px;
 	left:288px;
 }
 .circle{
 	width:15px;height:15px;
 	background:#ccc;
 	float:left;
 	margin-right:3px;
 	border-radius:50%;
 	background:#d4cebf;
 }
.box-three{
	width:277px;height:348px;
	border:1px solid #b8d9e9;
	float:left;
	position:absolute;
	right:0;
	margin-right:auto;
	margin-left:auto;
}
.dh-k{
	width:270px;height:180px;
}
.dh-xk li{
	width:90px;height:90px;
	position:relative;
	float:left;
}
.tb img{
	display:block;
	margin:0 auto;
	margin-top:20px;
	cursor:pointer;
	z-index:2;
}
.tb img:hover{
	width:36px;height:36px;
}
.tb-text{
	width:67px;height:16px;
	margin: 0 auto;
	text-align:center;
	color:#444;
	line-height:16px;
	margin-top:12px;
	position:absolute;
	top:55px;
	left:15px;
	
}
.dh-xk li a{
	text-decoration:none;
}
.banner-r{
	width:270px;height:168px;
	margin:0 auto;
}
.price{
	width:226px;height:30px;
	margin:0 auto;
	margin-top:12px;
}
.price-l{
	font-size:14px;
	line-height:30px;
	font-weight:bold;
	color:#333333;
	float:left;
}
.price-l a{
	text-decoration:none;
}
.price-l a:hover{
	text-decoration:underline;
}
.price-r{
	font-size:12px;
	line-height:30px;
	font-weight:bold;
	color:#ff0000;
	float:right;
}
.tel{
	width:234px;height:34px;
	border:1px solid #dedede;
	margin:0 auto;
	border-radius:3px;
}
.money-k{
	width:234px;height:36px;
	margin:0 auto;
	margin-top:9px;
	position:relative;
}
.money{
	width:42px;height:34px;
	border:1px solid #dedede;
	border-radius:3px;
	float:left;
	margin-right:4px;
	text-align:center;
	line-height:34px;
	cursor:pointer;
}	
.money:hover{
	background:#e40077;
	border:1px solid #e40077;
	color:#fff;
}
.cz{
	width:88px;height:33px;
	margin:0 auto;
	margin-top:10px;
}
button{
	width:88px;height:33px;
	border:1px solid #33acfb;
	border-radius:3px;
	background:#33acfb;
	margin:0 auto;
	cursor:pointer;
	color:#fff;
}
.banner-bottom{
	width:1200px;height:180px;
	background:#dfdfdf;
	margin:0 auto;
	margin-top:10px;
	position:relative;
	
	
}
.jt-left{
	width:28px;height:35px;
	background:url(../images/jt.gif);
	margin-top:72.5px;
	float:left;
	position:absolute;
	z-index:50;
}
.jt-right{
	width:28px;height:35px;
	background:url(../images/jt.gif) -32px 0;
	margin-top:72.5px;
	margin-left:1172px;
	float:right;
	position:absolute;
	z-index:50;
}
.tupian{
	width:285px;height:160px;
	background:#fff;
	margin-right:10px;
	margin-top:10px;
	float:left;
	position:relative;
}
.banner-bottom img{
	position:absolute;
	right:0;
	bottom:0;
	cursor:pointer;
}

.text-big{
	font-size:18px;
	font-weight:bold;
	color:#333;
	margin-left:21px;
	margin-top:10px;
}
.text-small{
	font-size:12px;
	color:#666;
	margin-top:7px;
	margin-left:21px;
	position:absolute;
	z-index:5;
}
.section-box{
	width:1200px;height:425px;
	margin:0 auto;
	position:relative;
	margin-top:10px;
}
.section-box-top{
	width:1172px;height:47px;
	border:1px solid #dfdfdf;
	border-bottom:none;
	margin:0 auto;
	font-size:14px;
	font-weight:bold;
	color:#0085d0;
	padding-left:26px;
	line-height:47px;
}
.section-box-4g{
	width:1200px;height:378px;
	margin:0 auto;
	position:relative;
}
.section-box-l{
	width:298px;height:377px;
	float:left;
}
.section-box-r{
	width:901px;height:377px;
	border-right:1px solid #dfdfdf;
	border-top:1px solid #dfdfdf;
	float:left;
	position:absolute;
	right:0;
}
.section-r-li{
	width:300px;height:188px;
	border:1px solid #dfdfdf;
	border-top:none;
	border-right:none;
	position:relative;
	float:left;
}
.section-r-li img{
	margin-left:79px;
	margin-top:55px;
	transition:all 0.3s ease-in;
	position:absolute;
}
.section-r-li img:hover{
	transform:translateX(-16px);
}
.section-r-text-big{
	font-size:16px;
	font-weight:bold;
	color:#333;
	position:absolute;
	z-index:10;
	top:10px;
	left:20px;
}
.section-r-text-small{
	font-size:12px;
	color:#666;
	position:absolute;
	top:35px;
	left:20px;
	z-index:10;
}
/*买手机 开始*/
.section-box-phone{
	width:1200px;height:379px;
	float:left;
	position:absolute;
	right:0;
}
.section-phone-li{
	width:298.75px;height:363px;
	border:1px solid #dfdfdf;
	border-left:none;
	position:relative;
	float:left;
}
.section-phone-li img{
	margin-left:76px;
	margin-top:88px;
	transition:all 0.3s ease-in;
	position:absolute;
	margin-right:auto;
}
.section-phone-li img:hover{
	transform:translateX(-16px);
}
.section-r-phone-top{
	font-size:14px;
	color:#666;
	position:absolute;
	z-index:10;
	top:25px;
	left:20px;
}
.section-r-phone-middle{
	font-size:12px;
	color:#0085d0;
	position:absolute;
	top:45px;
	left:20px;
	z-index:10;
}
.section-r-phone-bottom{
	font-size:18px;
	color:#ef33a2;
	position:absolute;
	top:78px;
	left:25px;
	z-index:10;
}
/*下部 开始*/
.footer-gg{
	width:1198px;height:37px;
	border:1px solid #ccc;
	margin:0 auto;
	margin-top:10px;
}
.footer-gg-box{
	width:1200px; height:15px;
	margin-top:8px;
	margin-left:20px;
	float:left;
}

.footer-gg-text{
	font-size:14px;
	color:#666;
	margin-left:7px;
	line-height:15px;
}
.notice{
	color:#0085d0;
	font-size:14px;
}
.notice:hover{
	text-decoration:underline;
}
.footer-gg .date{
	color:#ccccd9;
	margin-left:120px;
	font-size:14px;
}
.footer-jt a{
	color:#0087c9;
	font-size:16px;
}
.footer-lj{
	width:1198px;height:228px;
	border:1px solid #ccc;
	margin:0 auto;
	margin-top:10px;
}
.footer-lj-box{
	width:236px;height:228px;
	float:left;
}
.footer-lj-text-title{
	font-size:14px;
	color:#666;
	font-weight:bold;
	margin-left:36px;
	margin-top:32px;
}
.footer-lj-text a{
	font-size:14px;
	color:#666;
	margin-left:36px;
	line-height:26px;
}
.footer-lj-text a:hover{
	text-decoration:underline;
	color:#0093dc;
}
.footer-bottom{
	width:1200px;height:180px;
	margin:0 auto;
	margin-top:30px;
}
.footer-bottom-box-lj{
	width:600px;height:12px;
	margin:0 auto;
	margin-bottom:20px;
}
footer ul li{
	margin-right:4px;
	float:left;
}
footer ul li a{
	color:#666;
}
footer ul li a:hover{
	color:#0093dc;
	text-decoration:underline;
}
.ljname{
	color:#666;
}
.bq{
	color:#666;
	margin-left:180px;
}
.footer-bottom-tp{
	width:310px;height:50px;
	margin:0 auto;
}
.dzlj{
	line-height:44px;
	margin-left:4px;
}
.tap-ico1{
 	width:40px;height:118px;
 	position:fixed;
 	right:0px;
 	bottom:180px;
 }
 .ico-one{	
 	display:block;
 	width:40px;height:118px;
 	background:url(../images/kdzq.png);
 }
 .ico-two-box{
 	width:124px;height:117px;
 	position:fixed;
 	right:-84px;
 	bottom:42px;
 }
 .ico-two{
	width:124px;height:117px;
	position:fixed;
 	right:-84px;
 	bottom:42px;
 	background:url(../images/kf.gif);
 	z-index:20;
 }
.zxzx{
	margin-top:8px;
	margin-right:-30px;
	position:relative;
	transition:all 0.5s ease-in;
	z-index:0;
}
.zxzx:hover{
	transform:translateX(-65px);
}